<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work | luisjg.dev</title>
    <link rel="stylesheet" href="/style.css">
     <style>
        nav {
            border-bottom: 1px solid black;
        }

        .crumbs ol {
            list-style-type: none;
            padding-left: 0;
        }

        .crumb {
            display: inline-block;
        }

        .crumb a::after {
            display: inline-block;
            color: black;
            content: ">";
            font-size: 80%;
            font-weight: bold;
            padding: 0 3px;
        }
     </style>
</head>
<body>
    <nav class="crumbs">
        <ol>
            <li class="crumb"><a href="/" hx-get="/" hx-target="#content" hx-select="#content" hx-swap="outerHTML" hx-push-url="true">Home</a></li>
            <li class="crumb"><a href="/blog" hx-get="/blog" hx-target="#content" hx-select="#content" hx-swap="outerHTML" hx-push-url="true">Blog</a></li>
            <li class="crumb"><a href="/work" hx-get="/work" hx-target="#content" hx-select="#content" hx-swap="outerHTML" hx-push-url="true">Work</a></li>
          </ol>
    </nav>
    <main>
        <div id="content">
            <h1 id="page-title">Work</h1>

            <div id="work-content">
                <p><a href="/work/calstatepays" hx-get="/work/calstatepays" hx-target="#content" hx-select="#content" hx-swap="outerHTML" hx-push-url="true">CalStatePays</a></p>
                <p><a href="/work/faculty" hx-get="/work/faculty" hx-target="#content" hx-select="#content" hx-swap="outerHTML" hx-push-url="true">Faculty</a></p>
                <p><a href="/work/luisjg" hx-get="/work/luisjg" hx-target="#content" hx-select="#content" hx-swap="outerHTML" hx-push-url="true">luisjg</a></p>
                <p><a href="/work/meta-lab-website" hx-get="/work/meta-lab-website" hx-target="#content" hx-select="#content" hx-swap="outerHTML" hx-push-url="true">META+LAB</a></p>
                <p><a href="/work/scholarship" hx-get="/work/scholarship" hx-target="#content" hx-select="#content" hx-swap="outerHTML" hx-push-url="true">Scholarship</a></p>
                <p><a href="/work/web-services" hx-get="/work/web-services" hx-target="#content" hx-select="#content" hx-swap="outerHTML" hx-push-url="true">Web Services</a></p>
            </div>
        </div>
    </main>

    <footer>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
</body>
</html>
