<h1 id="page-title">Work</h1>

<div id="work-content">
    <p><a hx-get="./work/calstatepays" hx-target="#work-content">CalStatePays</a></p>
    <p><a hx-get="./work/faculty" hx-target="#work-content">Faculty</a></p>
    <p><a hx-get="./work/luisjg" hx-target="#work-content">luisjg</a></p>
    <p><a hx-get="./work/meta-lab-website" hx-target="#work-content">META+LAB</a></p>
    <p><a hx-get="./work/scholarship" hx-target="#work-content">Scholarship</a></p>
    <p><a hx-get="./work/web-services" hx-target="#work-content">Web Services</a></p>
</div>
